{% extends "base.html" %}
{% block content %}
{% if conc is defined %}
<div id="conc" class="container-large" role="main">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="align-left">
        {% include "pager.html" %}
      </div>
      <div class="align-right">
        <span class="label label-default">absolute frequency</span>
        {{ "{:,d}".format(freq.abs) }}
        <span class="label label-primary">i.p.m.</span>
        {{ "{:0,.2f}".format(freq.ipm) }}
        <span class="label label-success">ARF</span>
        {{ "{:0,.2f}".format(freq.arf) }}
      </div>
      <small id="hint">Press <kbd>Ctrl+Enter</kbd> with cursor anywhere in page to search.</small>
    </div>
    <div style="overflow-x: auto;">
      <table class="table table-hover table-condensed text-nowrap">
        {% for meta, left, kwic, right in conc %}
        <tr>
          <td class="text-primary">{{ meta }}</td>
          <td align="right">{{ left }}</td>
          <td class="text-danger" align="center">{{ kwic }}</td>
          <td>{{ right }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="panel-footer">
      {% include "pager.html" %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
