{% if pager.prev is not none %}
<a class="btn btn-xs btn-info"
   href="/conc/{{ forms.query.corpus.data | urlencode }}/{{ forms.query.cql.data | urlencode }}/{{ pager.prev }}">
  <span class="glyphicon glyphicon-menu-left"></span> prev 50
</a>
{% endif %}
{% if pager.prev is not none and pager.next is not none %}
{% endif %}
{% if pager.next is not none %}
<a class="btn btn-xs btn-info"
   href="/conc/{{ forms.query.corpus.data | urlencode }}/{{ forms.query.cql.data | urlencode }}/{{ pager.next }}">
  next 50 <span class="glyphicon glyphicon-menu-right"></span>
</a>
{% endif %}
